@import "src/assets/styles/colorPalette";
@import "src/assets/styles/templates";

.stage1 {

  > form {
    width: 28.5em;
    margin: 3em auto 0;

    h1 {
      font-family: Poppins, serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.13;
      color: $charade;
    }

    .desc {
      font-family: Roboto, serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.38;
      margin-top: 1em;
      color: $shuttleGray;
    }

    .alert {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 1em;
      padding: 1em;
      border-radius: 0.5em;
      background-color: $athensGray;
      gap: 1em;

      .lockIcon {
        font-size: 1em;
        color: $raven;
      }

      > p {
        font-family: Poppins, serif;
        font-size: 0.75rem;
        line-height: 1.38;
        color: $shark;
      }

      .cross {
        @include clearButtonStyles;

        .crossIcon {
          font-size: 1em;
          transition: color 0.3s ease-in-out;
          color: $raven;

          &:hover {
            color: $charade;
          }
        }
      }
    }

    .phoneSet {
      margin-top: 2em;
      padding: 2em;
      border: solid 1px $iron;
      border-radius: 0.5em;

      .formDesc {
        font-family: Poppins, serif;
        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        color: $shark;
      }

      .phoneWrapper {
        display: flex;
        align-items: center;
        height: 2.5em;
        margin-top: 2em;

        gap: 1em;

        .countryCode {
          width: 5.5em;
          min-width: 5.5em;
          height: 100%;
        }

        input {
          font-family: Roboto, serif;
          width: 100%;
          height: 100%;
          padding: 0.5em;
          border: none;
          border-bottom: 1px solid $iron;
          outline: none;

          &::placeholder {
            opacity: 0.8;
          }
        }
      }

      .error {
        font-family: Poppins, serif;
        font-size: 0.75rem;
        margin-top: 0.75em;
        color: red;
      }

    }

    .submitButton {
      font-family: Poppins, serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 2em;
      padding: 0.75em 1.5em;
      border: 1px solid $silverSand;
      border-radius: 0.25em;
      background-color: white;
    }
  }
}

